# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = df['date'].apply(lambda x: dt.strptime(x, '%Y-%m-%d'))

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [5]:
# Drop the date column
# Not sure what this instruction means as the date column is already the index
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
june_df = df[df.index.month == 6]
december_df = df[df.index.month == 12]

In [8]:
# Identify the average temperature for June
june_df['tobs'].mean()

74.94411764705882

In [9]:
# Identify the average temperature for December
december_df['tobs'].mean()

71.04152933421226

In [10]:
# Create collections of temperature data
# Sampling 1000 so they have the same length
june_temps = june_df['tobs'].sample(n=1000)
december_temps = december_df['tobs'].sample(n=1000)

In [11]:
# Run paired t-test
stats.ttest_rel(june_temps, december_temps)

Ttest_relResult(statistic=25.262485124999074, pvalue=2.7925262646936037e-109)

### Analysis

- A paired t-test was run since the two samples are related. They both come from the same set of stations in Hawaii and we are testing if the time of year results in a significant difference in the temperatures.
- The null hypothesis here is that there is no difference in the temperatures between the months of June and December.
- The very low p-value of the t-ttest indicates the differences of the means, although seemingly small (~ 4 degrees F), are indeed statistically significant.
- The null hypothesis can be rejected.